<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">NYT Scraper</a>
        <ul id="nav-mobile">
        <li><a href="/saved">Saved</a></li>
        <li><button id='scrape'>Get new articles</button></li>
        </ul>
    </div>
</nav>